<%= stylesheet_link_tag "search" %>
<form class="search-form" action="/search">
    <input class="search-input" type="text" name="q" placeholder="Search...">
    <button class="btn-search" type="submit"><%= image_tag("search-icon.png", class: "img-search")%></button>
</form>