@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*{
    font-family: 'Jacques Francois', serif;
}

body{
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
}

