.navbar{
    text-align: center;
    background-color: white;
}
.nav{
    background-color: #0B1A26;
    height: 50px;
    padding-top: 10px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-text{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px; 
    margin: 10px;
}
.nav-text:hover{
    text-decoration: underline;    
}
.login-btn{
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 30px;
    height: 40px; 
    width: 120px;
}
.login{
    text-decoration: none;
    color:#0B1A26;
}
.login:hover{
    text-decoration: underline;    
}
