.navbar{
    text-align: center;
    background-color: white;
}
.nav{
    background-color: #0B1A26;
    height: 50px;
    padding-top: 10px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-text{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px; 
    margin: 10px;
}
.nav-text:hover{
    text-decoration: underline;    
}
.login-btn{

    font-size: 30px;
    height: 40px; 
    width: 120px;
}
.login-btn:hover{
    transition: 0.5s;
    background-color: #F5F5F2;
}
.login{
    text-decoration: none;
    color: #FFFFFF;
}
.login:hover{
    text-decoration: underline;
    color:#0B1A26;  
}
